*Logistic Regression*

datafile used:https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/ChurnData.csv

modules used:

pandas as pd

pylab as pl

numpy as np

scipy.optimize as opt

preprocessing from sklearn  

matplotlib.pyplot as plt

TEST CASES:

1) testcase 1 with 75% accuracy.

In [ ]:
new=df[["tollten","longten","cardten","tenure","age"]]
display(new)
y = np.asanyarray(df['churn'])
y [0:5]

X=np.asanyarray(new)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat

yhat_prob = LR.predict_proba(X_test)
yhat_prob

a=confusion_matrix(y_test, yhat)
print(a)
TP=a[0][0]
TN=a[1][1]
n=(a[0][0]+a[1][0]+a[0][1]+a[1][1])
acc=(TP+TN)/n
print("accuracy=",acc)

     tollten  longten  cardten  tenure   age
0     211.45    42.00    125.0    11.0  33.0
1       0.00   288.80      0.0    33.0  33.0
2       0.00   157.05      0.0    23.0  30.0
3    1873.05   239.55    880.0    38.0  35.0
4     166.10    47.45    145.0     7.0  35.0
..       ...      ...      ...     ...   ...
195  1343.50   973.10    720.0    55.0  44.0
196   959.40   203.25    435.0    34.0  23.0
197   128.45    29.90     80.0     6.0  32.0
198  1152.90   186.60    780.0    24.0  30.0
199     0.00  1063.15   1600.0    61.0  50.0

[200 rows x 5 columns]

[[23  2]
 [ 8  7]]
accuracy= 0.75

2) testcase 2 with 75% accuracy.

In [ ]:
new=df[["longmon","longten","cardten","tenure","age"]]
display(new)
y = np.asanyarray(df['churn'])
y [0:5]

X=np.asanyarray(new)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat

yhat_prob = LR.predict_proba(X_test)
yhat_prob

a=confusion_matrix(y_test, yhat)
print(a)
TP=a[0][0]
TN=a[1][1]
n=(a[0][0]+a[1][0]+a[0][1]+a[1][1])
acc=(TP+TN)/n
print("accuracy=",acc)

     longmon  longten  cardten  tenure   age
0       4.40    42.00    125.0    11.0  33.0
1       9.45   288.80      0.0    33.0  33.0
2       6.30   157.05      0.0    23.0  30.0
3       6.05   239.55    880.0    38.0  35.0
4       7.10    47.45    145.0     7.0  35.0
..       ...      ...      ...     ...   ...
195    17.35   973.10    720.0    55.0  44.0
196     6.00   203.25    435.0    34.0  23.0
197     3.85    29.90     80.0     6.0  32.0
198     8.70   186.60    780.0    24.0  30.0
199    16.85  1063.15   1600.0    61.0  50.0

[200 rows x 5 columns]

[[23  2]
 [ 8  7]]
accuracy= 0.75

3) testcase 3 with 75% accuracy.

In [ ]:
new=df[["tollten","longten","cardten","tenure"]]
display(new)
y = np.asanyarray(df['churn'])
y [0:5]

X=np.asanyarray(new)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat

yhat_prob = LR.predict_proba(X_test)
yhat_prob

a=confusion_matrix(y_test, yhat)
print(a)
TP=a[0][0]
TN=a[1][1]
n=(a[0][0]+a[1][0]+a[0][1]+a[1][1])
acc=(TP+TN)/n
print("accuracy=",acc)

     tollten  longten  cardten  tenure
0     211.45    42.00    125.0    11.0
1       0.00   288.80      0.0    33.0
2       0.00   157.05      0.0    23.0
3    1873.05   239.55    880.0    38.0
4     166.10    47.45    145.0     7.0
..       ...      ...      ...     ...
195  1343.50   973.10    720.0    55.0
196   959.40   203.25    435.0    34.0
197   128.45    29.90     80.0     6.0
198  1152.90   186.60    780.0    24.0
199     0.00  1063.15   1600.0    61.0

[200 rows x 4 columns]

[[24  1]
 [ 9  6]]
accuracy= 0.75

4) testcase 4 with 75% accuracy.

In [ ]:
new=df[["tollten","longten","cardten","tenure","age","ed","employ"]]
display(new)
y = np.asanyarray(df['churn'])
y [0:5]

X=np.asanyarray(new)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat

yhat_prob = LR.predict_proba(X_test)
yhat_prob

a=confusion_matrix(y_test, yhat)
print(a)
TP=a[0][0]
TN=a[1][1]
n=(a[0][0]+a[1][0]+a[0][1]+a[1][1])
acc=(TP+TN)/n
print("accuracy=",acc)

     tollten  longten  cardten  tenure   age   ed  employ
0     211.45    42.00    125.0    11.0  33.0  5.0     5.0
1       0.00   288.80      0.0    33.0  33.0  2.0     0.0
2       0.00   157.05      0.0    23.0  30.0  1.0     2.0
3    1873.05   239.55    880.0    38.0  35.0  2.0    10.0
4     166.10    47.45    145.0     7.0  35.0  2.0    15.0
..       ...      ...      ...     ...   ...  ...     ...
195  1343.50   973.10    720.0    55.0  44.0  1.0    23.0
196   959.40   203.25    435.0    34.0  23.0  1.0     7.0
197   128.45    29.90     80.0     6.0  32.0  1.0    10.0
198  1152.90   186.60    780.0    24.0  30.0  4.0     5.0
199     0.00  1063.15   1600.0    61.0  50.0  2.0    22.0

[200 rows x 7 columns]

[[23  2]
 [ 8  7]]
accuracy= 0.75